body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-suc{

    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

    font-family: "Inter-Regular";

    width: 120vh;
    height: 80vh;

    background: #092456;
    background: radial-gradient(circle,rgba(19, 67, 156, 1) 0%, rgba(5, 22, 53, 1) 21%, rgba(0, 0, 0, 1) 47%);
    background-attachment: fixed;
    
    box-shadow: rgba(0, 0, 0, 0.27) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
}

.svg-suc {
    fill: white;
    scale: 170%;
    margin-bottom: 40px;
    margin-top: 90px;
}

.msg-suc {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 37%;
}

.msg-suc h1 {
    margin-bottom: 10px;
}

.msg-suc p {
    font-size: 18px;
    margin: 0;
}

.svg-logo-suc {
    margin-top: -50px;
    scale: 37%;
}